- var svgSprite = true;

section.about-features
    .container
        .about-features__list
            +features([
                {
                    'icon': 'af-laptop',
                    'iconClass': 'about-features__icon',
                    'title': 'Web Design',
                    'titleBlue': true,
                    'text': 'Lorem ipsum dolor sit ametconsec tetur adipiscing elit. Aliquam nulla nibh, fermentum nec interdum in, ultrices eget sapien. Ut sit amet vehicula risus. Nulla sed erat eu nisl porta bibendum. Sed tellus felis.',
                    'textClass': 'about-features__text',
                    'details': true
                },
                {
                    'icon': 'af-mobile',
                    'iconClass': 'about-features__icon',
                    'title': 'Phone App',
                    'titleBlue': true,
                    'text': 'Lorem ipsum dolor sit ametconsec tetur adipiscing elit. Aliquam nulla nibh, fermentum nec interdum in, ultrices eget sapien. Ut sit amet vehicula risus. Nulla sed erat eu nisl porta bibendum. Sed tellus felis.',
                    'textClass': 'about-features__text',
                    'details': true
                },
                {
                    'icon': 'af-tv',
                    'iconClass': 'about-features__icon',
                    'title': 'Commercial',
                    'titleBlue': true,
                    'text': 'Lorem ipsum dolor sit ametconsec tetur adipiscing elit. Aliquam nulla nibh, fermentum nec interdum in, ultrices eget sapien. Ut sit amet vehicula risus. Nulla sed erat eu nisl porta bibendum. Sed tellus felis.',
                    'textClass': 'about-features__text',
                    'details': true
                },
                {
                    'icon': 'af-calendar',
                    'iconClass': 'about-features__icon',
                    'title': 'Media Planing',
                    'titleBlue': true,
                    'text': 'Lorem ipsum dolor sit ametconsec tetur adipiscing elit. Aliquam nulla nibh, fermentum nec interdum in, ultrices eget sapien. Ut sit amet vehicula risus. Nulla sed erat eu nisl porta bibendum. Sed tellus felis.',
                    'textClass': 'about-features__text',
                    'details': true
                }
            ])