.addr
    .addr__item.tel
        p.addr__line Office: +1 (000) 123-4567
        p.addr__line Mobil: +1 (000) 123-4567
    .addr__item.location
        p.addr__line Lorem ipsum dolar sit amet
        p.addr__line New York - United States
    .addr__item.links
        a(href="mailto:abcde.abcde@gmail.com").addr__line.addr__line--link
            | abcde.abcde@gmail.com
        a(href="http://abcde-abcde.com/").addr__line.addr__line--link
            | www.abcde-abcde.com