section
    .clients
        .container
            h2.section-title.section-title--s Clients
            .clients__list
                .clients-logo
                .clients-logo
                .clients-logo
                .clients-logo
                .clients-logo
                .clients-logo