section
    .clients
        .container
            h2.section-title Clients
            .clients__list
                .clients-logo
                .clients-logo
                .clients-logo
                .clients-logo
                .clients-logo
                .clients-logo