section.contacts
    .container
        .contacts__wrap
            .contacts-row.vertline
                .contacts-col.contacts-col--left

                    block feedback
                        include feedback-form

                .contacts-col.contacts-col--right

                    block address
                        include address

                    block map
                        include map

                    block social-links
                        include social-links