form.feedback-form
    .field-wrap
        label(for='name').feedback-form__label Name
        input(type='text', id='name', name='name', required)
    .field-wrap
        label(for='email').feedback-form__label E-mail address
        input(type='email', id='email', name='email', required)
    .field-wrap
        label(for='subject').feedback-form__label Subject
        input(type='email', id='subject', name='subject', required)
    .field-wrap
        label(for='message').feedback-form__label Message
        textarea(id='message', required).feedback-form__textarea
    input(name='submit', value='Send', type='submit')