footer
    .container
        .footer-row
            .footer-col
                .footer-col--title
                    | Twitter feeds
                p.footer-col--text
                    | Check out this great theme item
                a(href="#").footer-col--link
                    | http://tadjalskfj.com
                span.footer-col--text
                    | 2 weeks ago
                .footer-col--dash

                p.footer-col--text
                    | Check out this great theme item
                a(href="#").footer-col--link
                    | http://tadjalskfj.com
                span.footer-col--text
                    | 2 weeks ago
                .footer-col--dash


            .footer-col
                .footer-col--title
                    | Newsletter
                p.footer-col--text
                    | “Lorem ipsum dolor sit amet, consectetur adipiscing elit mauris necip at lacus commodo suscipit praesent sollicitudin enim vel mirhon” “Lorem ipsum dolor sit amet, consectetur adipiscing elit mauris necip at lacus commodo suscipit praesent sollicitudin enim vel mirhon”

            .footer-col
                .footer-col--title
                    | Recent projects
                p.footer-col--text
                    | “Lorem ipsum dolor sit amet, consectetur adipiscing elit mauris necip at lacus commodo suscipit praesent sollicitudin enim vel mirhon” “Lorem ipsum dolor sit amet, consectetur adipiscing elit mauris necip at lacus commodo suscipit praesent sollicitudin enim vel mirhon”

            .footer-col
                .footer-col--title
                    | Contact
                p.footer-col--text
                    | “Lorem ipsum dolor sit amet, consectetur adipiscing elit mauris necip at lacus commodo suscipit praesent sollicitudin enim vel mirhon” “Lorem ipsum dolor sit amet, consectetur adipiscing elit mauris necip at lacus commodo suscipit praesent sollicitudin enim vel mirhon”