section
    .mission
        .container
            .mission__wrap
                h1.section-title.section-title--l
                    | who are we?
                .mission-description
                    p.mission-text.mission-text--b.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a faucibus elit. Nulla facilisi. Ut eu erat metus. Nulla diam venenatis at scelerisque et, mattis quis mi. Maurisac consequat velit. Nullam eget massa vitae sem ullamcorper conse quat. In bibendum orci quis magna facilisis cursus. Maecenas rutrum felis vel nibh ultrices quis tincidunt ipsum dolor sit amet dniof ortigonta alamond druntilortu.

                    p.mission-text.
                        Sed lobortis, dui ac bibendum fringilla, massa augue mattis enim, quis volutpat augue nisi vitae nibh. Proin nibh tortor, rutrum luctus euismod eu, rutrum eget nunc. Nam commodo tellus quis ante tempus quis auctor enim suscipit. Donec sit amet feugiat justo. Nulla vel nibh et erat consequat sollicitudin. Vivamus egestas erat ac arcu sagittis in tincidunt purus pharetra. Maecenas viverra suscipit arcu, ac adipiscing odio vehicula nec.
                        Vestibulum non enim ac dui interdum tempus nam tortor odio.
                .mission-tagline
                    p.tagline.tagline--gray
                        | we believe in good design