- var svgSprite = true;

.container
    .mp-filter
        ul.mp-filter--list
            li(data-filter="*").mp-filter--item.is-active
                | all
            li(data-filter=".category-web").mp-filter--item
                | web design
            li(data-filter=".category-ad").mp-filter--item
                | advertising
            li(data-filter=".category-identity").mp-filter--item
                | identity
            li(data-filter=".category-illustration").mp-filter--item
                | illustration
        .mp-filter--view
            svg#js-row.mp-filter--icon
                use(xlink:href="#icon-row")

            svg#js-grid.mp-filter--icon.mp-filter--icon__active
                use(xlink:href="#icon-grid")


