- var svgSprite = true;

.mp-filter
    .container
        ul.mp-filter--list.js-filter-btn
            li(data-filter="*").mp-filter--item.is-active
                | all
            li(data-filter=".category-web").mp-filter--item
                | web design
            li(data-filter=".category-ad").mp-filter--item
                | advertising
            li(data-filter=".category-identity").mp-filter--item
                | identity
            li(data-filter=".category-illustration").mp-filter--item
                | illustration
        select.mp-filter--select#js-filter-select
            option(value='*') All
            option(value='.category-web') web design
            option(value='.category-ad') advertising
            option(value='.category-identity') identity
            option(value='.category-illustration') illustration

        .mp-filter--view
            svg#js-row.mp-filter--icon
                use(xlink:href="#icon-row")

            svg#js-grid.mp-filter--icon.mp-filter--icon__active
                use(xlink:href="#icon-grid")


