- var svgSprite = true;

.mp-filter
    ul.mp-filter--list
        li.mp-filter--item.mp-filter--item__active
            a(href="#") all
        li.mp-filter--item
            a(href="#") web design
        li.mp-filter--item
            a(href="#") advertising
        li.mp-filter--item
            a(href="#") identity
        li.mp-filter--item
            a(href="#") illustration
    .mp-filter--view
        svg#js-row.mp-filter--icon
            use(xlink:href="#icon-row")

        svg#js-grid.mp-filter--icon.mp-filter--icon__active
            use(xlink:href="#icon-grid")


