.mp-filter
    ul.mp-filter--list
        li.mp-filter--item
            a(href="#") all
        li.mp-filter--item
            a(href="#") web design
        li.mp-filter--item
            a(href="#") advertising
        li.mp-filter--item
            a(href="#") identity
        li.mp-filter--item
            a(href="#") illustration
    .mp-filter--view
        a(href="#").icon-row
            | Row
        a(href="#").icon-grid
            | Grid



