section.offer
    .container
        header.offer__header
            h1.section-title.section-title--m What we offer
            p.offer__subtitle
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultricies sagittis magnaa commodo. Ut eget eros mauris, ut cursus urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.
        .offer__list
            +features([
                {
                    'title': 'Web Design',
                    'titleBlue': true,
                    'text': 'Lorem ipsum dolor sit amet, consect etur adipiscing elit.Ut ultricies sagit tism agnaa commodo.Ut eget eros mauris, ut cursus urna vestibuluman ipsum primis in faucibus orci luctuset.',
                    'textClass': 'offer__text'
                },
                {
                    'title': 'Search Optimization',
                    'titleBlue': true,
                    'text': 'Lorem ipsum dolor sit amet, consect etur adipiscing elit.Ut ultricies sagit tism agnaa commodo.Ut eget eros mauris, ut cursus urna vestibuluman ipsum primis in faucibus.',
                    'textClass': 'offer__text'
                },
                {
                    'title': 'Online Shop',
                    'titleBlue': true,
                    'text': 'Lorem ipsum dolor sit amet, consect etur adipiscing elit.Ut ultricies sagit tism agnaa commodo.Ut eget eros mauris, ut cursus urna vestibuluman ipsum primis in faucibus orci luctuset.',
                    'textClass': 'offer__text'
                },
                {
                    'title': 'Social Media',
                    'titleBlue': true,
                    'text': 'Lorem ipsum dolor sit amet, consect etur adipiscing elit.Ut ultricies sagit tism agnaa commodo.Ut eget eros mauris, ut cursus urna vestibuluman ipsum primis in faucibus orci luc.',
                    'textClass': 'offer__text'
                }
            ])