mixin gallery-card(items)
    each item in items
        .gallery--item
            .gallery-card
                .gallery-card--pic
                    img(src='img/' + item.img, alt='portfolio image')
                    .gallery-card--details
                        a(href="#")
                            | Details
                h4.gallery-card--title
                    = item.title
                p.gallery-card--text
                    = item.text


section.portfolio
    .container
        header.portfolio--header
            h1.portfolio--title
                | Our Portfolio Awesome
            .portfolio--more-link
                a(href="#") More Works
        .gallery
            +gallery-card([
                {
                    'img': 'portfolio1.jpeg',
                    'title': 'Lorem Ipsum Dolar Sit Amet',
                    'text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec ipsum at lacus commodo suscipit.'
                },
                {
                    'img': 'portfolio2.jpeg',
                    'title': 'Lorem Ipsum',
                    'text': 'Lorem ipsum dolor sit amet, consectetur adipiscinglit.'
                },
                {
                    'img': 'portfolio3.jpeg',
                    'title': 'Ipsum Amet Dolar Sit',
                    'text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elitmauris nec ipsum at lacus commodo suscipit.'
                }
            ])

        .portfolio--more-link.portfolio--more-link__bottom
            a(href="#") More Works