section.services
    .container
        .services__wrap
            h2.services__title
                | Our services

            .services__list
                +features([
                    {
                        'img': 'services_img.png',
                        'imgClass': 'services__img',
                        'title': 'Web Design',
                        'text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec ' +
                        'ipsum at lacus commodo suscipit.',
                        'textClass': 'services__text'
                    },
                    {
                        'img': 'services_img.png',
                        'imgClass': 'services__img',
                        'title': 'Search Optimization',
                        'text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec ' +
                        'ipsum at lacus commodo suscipit.',
                        'textClass': 'services__text'
                    },
                    {
                        'img': 'services_img.png',
                        'imgClass': 'services__img',
                        'title': 'Online Shop',
                        'text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec ' +
                        'ipsum at lacus commodo suscipit.',
                        'textClass': 'services__text'
                    },
                    {
                        'img': 'services_img.png',
                        'imgClass': 'services__img',
                        'title': 'Social Media',
                        'text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec ' +
                        'ipsum at lacus commodo suscipit.',
                        'textClass': 'services__text'
                    }
                ])