mixin card(items)
    each item in items
        .card
            .card--icon
            h4.card--title
                = item.title
            p.card--text
                = item.text
                span.card--details
                    a(href="#")|  Details...

section.services
    .container
        h2.services--title
            | Our services
        +card([
            {
                'title': 'Web Design',
                'text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec ipsum at lacus commodo suscipit.'
            },
            {
                'title': 'Search Optimization',
                'text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec ipsum at lacus commodo suscipit.'
            },
            {
                'title': 'Online Shop',
                'text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec ipsum at lacus commodo suscipit.'
            },
            {
                'title': 'Social Media',
                'text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec ipsum at lacus commodo suscipit.'
            }
        ])