mixin slider(items)
    each item in items
        - var atts = {'src': 'http://lorempixel.com/1280/490/abstract/9/','data-flickity-lazyload': item.img,'alt': 'image'}
        .slider--item.slide
            .slide--img
                img&attributes(atts)
            .container
                .slide--inner
                    .slide--content
                        h1.slide--title= item.title
                        p.slide--text= item.text
                        a(href=item.link).slide--btn
                            | Learn More


.slider
    +slider([
        {
            'title': 'Good Design Is Good Business',
            'img': 'img/slider-img4.jpg',
            'text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultricies sagittis magnaa commodo. Ut eget eros mauris, ut cursus urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.',
            'link': '#'
        },
        {
            'title': 'Good Design Is Good Business',
            'img': 'img/slider-img2.jpg',
            'text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultricies sagittis magnaa commodo. Ut eget eros mauris, ut cursus urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.',
            'link': '#'
        },
        {
            'title': 'Good Design Is Good Business',
            'img': 'img/slider-img3.jpg',
            'text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultricies sagittis magnaa commodo. Ut eget eros mauris, ut cursus urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.',
            'link': '#'
        },
        {
            'title': 'Good Design Is Good Business',
            'img': 'img/slider-img1.jpg',
            'text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultricies sagittis magnaa commodo. Ut eget eros mauris, ut cursus urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.',
            'link': '#'
        },
        {
            'title': 'Good Design Is Good Business',
            'img': 'img/slider-img5.jpg',
            'text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultricies sagittis magnaa commodo. Ut eget eros mauris, ut cursus urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.',
            'link': '#'
        }
    ])