- var svgSprite = true;

.social-links
    h2.social-links__title
        | Follow us on social media
    .social-icon
        a(href="#").social-icon__item
            svg.social-icon__svg
                use(xlink:href="#icon-twitter")
        a(href="#").social-icon__item
            svg.social-icon__svg
                use(xlink:href="#icon-facebook")
        a(href="#").social-icon__item
            svg.social-icon__svg
                use(xlink:href="#icon-youtube")
        a(href="#").social-icon__item
            svg.social-icon__svg
                use(xlink:href="#icon-vimeo")
        a(href="#").social-icon__item
            svg.social-icon__svg
                use(xlink:href="#icon-linkedin")
        a(href="#").social-icon__item
            svg.social-icon__svg
                use(xlink:href="#icon-google")