mixin comment(items)
    each item in items
        .comment
            h3.comment--text
                | &ldquo;#{item.text}&rdquo;
            .comment--job
                span.comment--job-name
                    = item.name
                span.comment--job-title
                    |  / #{item.title}

section.testimonials
    .container
        h2.testimonials--title
            | Testimonials
        .testimonials--slider-wrap
            .reviews-slider
                +comment([
                    {
                        'text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit mauris necip at lacus commodo suscipit praesent sollicitudin enim vel mirhon',
                        'name': 'Scott Walker',
                        'title': 'CEO of Consectetur'
                    },
                    {
                        'text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit mauris necip at lacus commodo suscipit praesent sollicitudin enim vel mirhon',
                        'name': 'John Doe',
                        'title': 'CEO of LoremIpsum'
                    },
                    {
                        'text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit mauris necip at lacus commodo suscipit praesent sollicitudin enim vel mirhon',
                        'name': 'Jane Doe',
                        'title': 'CEO of DolorSit'
                    }
                ])
            .testimonials--persons-wrap
                .persons
                    .person
                    .person.person__current
                    .person
