mixin work(items)
    each item in items
        .works--item
            .work(style='background-image: url(img/#{item.img})')
                .work--inner
                    h4.work--title
                        = item.title
                    p.work--text
                        = item.text
                    a(href="#").work--details| Details

.container
    .works
        .works--page
            +work([
                {
                    'img': 'works1.jpeg',
                    'title': 'Ipsum Amet Dolar Sit',
                    'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo. '
                },
                {
                    'img': 'works2.jpeg',
                    'title': 'Ipsum Amet Dolar Sit',
                    'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo.'
                },
                {
                    'img': 'works3.jpeg',
                    'title': 'Ipsum Amet Dolar Sit',
                    'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo.'
                },
                {
                    'img': 'works4.jpeg',
                    'title': 'Ipsum Amet Dolar Sit',
                    'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo.'
                },
                {
                    'img': 'works5.jpeg',
                    'title': 'Ipsum Amet Dolar Sit',
                    'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo. '
                },
                {
                    'img': 'works6.jpeg',
                    'title': 'Ipsum Amet Dolar Sit',
                    'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo.'
                },
                {
                    'img': 'works7.jpeg',
                    'title': 'Ipsum Amet Dolar Sit',
                    'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo.'
                },
                {
                    'img': 'works8.jpeg',
                    'title': 'Ipsum Amet Dolar Sit',
                    'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo.'
                },
                {
                    'img': 'works9.jpeg',
                    'title': 'Ipsum Amet Dolar Sit',
                    'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo. '
                }
            ])
        .works--page
            +work([
                {
                    'img': 'works10.jpeg',
                    'title': 'Ipsum Amet Dolar Sit',
                    'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo.'
                },
                {
                    'img': 'works11.jpeg',
                    'title': 'Ipsum Amet Dolar Sit',
                    'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo.'
                },
                {
                    'img': 'works12.jpeg',
                    'title': 'Ipsum Amet Dolar Sit',
                    'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo.'
                },
                {
                    'img': 'works13.jpeg',
                    'title': 'Ipsum Amet Dolar Sit',
                    'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo. '
                },
                {
                    'img': 'works14.jpeg',
                    'title': 'Ipsum Amet Dolar Sit',
                    'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo.'
                },
                {
                    'img': 'works15.jpeg',
                    'title': 'Ipsum Amet Dolar Sit',
                    'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo.'
                },
                {
                    'img': 'works16.jpeg',
                    'title': 'Ipsum Amet Dolar Sit',
                    'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo.'
                },
                {
                    'img': 'works17.jpeg',
                    'title': 'Ipsum Amet Dolar Sit',
                    'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo. '
                },
                {
                    'img': 'works18.jpeg',
                    'title': 'Ipsum Amet Dolar Sit',
                    'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo.'
                }
            ])
        .works--page
            +work([
                {
                    'img': 'works19.jpeg',
                    'title': 'Ipsum Amet Dolar Sit',
                    'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo.'
                },
                {
                    'img': 'works20.jpeg',
                    'title': 'Ipsum Amet Dolar Sit',
                    'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo.'
                },
                {
                    'img': 'works21.jpeg',
                    'title': 'Ipsum Amet Dolar Sit',
                    'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo. '
                },
                {
                    'img': 'works22.jpeg',
                    'title': 'Ipsum Amet Dolar Sit',
                    'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo.'
                },
                {
                    'img': 'works23.jpeg',
                    'title': 'Ipsum Amet Dolar Sit',
                    'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo.'
                },
                {
                    'img': 'works24.jpeg',
                    'title': 'Ipsum Amet Dolar Sit',
                    'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo.'
                },
                {
                    'img': 'works25.jpeg',
                    'title': 'Ipsum Amet Dolar Sit',
                    'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo.'
                }
            ])
    .pager
        .pager--row
            button.pager--btn.pager--btn-previous &larr; Prev
            .pager--btn-group
                button.pager--btn.is-selected 1
                button.pager--btn 2
                button.pager--btn 3
            button.pager--btn.pager--btn-next Next &rarr;