mixin work(items)
    each item in items
        .works--item(class=['#{item.classes}'])
            .work(style='background-image: url(img/#{item.img})')
                .work--inner
                    h4.work--title
                        = item.title
                    p.work--text
                        = item.text
                    a(href="#").work--details| Details
            .work--inner__row
                h4.work--title
                    = item.title
                p.work--text
                    = item.text + item.text + item.text
                    span.card--details
                        a(href="#")  Details...

.container
    .works
        +work([
            {
                'classes': 'category-web page1',
                'img': 'works1.jpeg',
                'title': 'Ipsum Amet Dolar Sit',
                'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo. '
            },
            {
                'classes': 'category-web page1',
                'img': 'works2.jpeg',
                'title': 'Ipsum Amet Dolar Sit',
                'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo.'
            },
            {
                'classes': 'category-web page1',
                'img': 'works3.jpeg',
                'title': 'Ipsum Amet Dolar Sit',
                'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo.'
            },
            {
                'classes': 'category-web page1',
                'img': 'works4.jpeg',
                'title': 'Ipsum Amet Dolar Sit',
                'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo.'
            },
            {
                'classes': 'category-web page1',
                'img': 'works5.jpeg',
                'title': 'Ipsum Amet Dolar Sit',
                'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo. '
            },
            {
                'classes': 'category-web page1',
                'img': 'works6.jpeg',
                'title': 'Ipsum Amet Dolar Sit',
                'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo.'
            },
            {
                'classes': 'category-web page1',
                'img': 'works7.jpeg',
                'title': 'Ipsum Amet Dolar Sit',
                'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo.'
            },
            {
                'classes': 'category-ad page1',
                'img': 'works8.jpeg',
                'title': 'Ipsum Amet Dolar Sit',
                'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo.'
            },
            {
                'classes': 'category-ad page1',
                'img': 'works9.jpeg',
                'title': 'Ipsum Amet Dolar Sit',
                'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo. '
            },
            {
                'classes': 'category-ad page2',
                'img': 'works10.jpeg',
                'title': 'Ipsum Amet Dolar Sit',
                'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo.'
            },
            {
                'classes': 'category-ad page2',
                'img': 'works11.jpeg',
                'title': 'Ipsum Amet Dolar Sit',
                'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo.'
            },
            {
                'classes': 'category-ad page2',
                'img': 'works12.jpeg',
                'title': 'Ipsum Amet Dolar Sit',
                'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo.'
            },
            {
                'classes': 'category-ad page2',
                'img': 'works13.jpeg',
                'title': 'Ipsum Amet Dolar Sit',
                'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo. '
            },
            {
                'classes': 'category-ad page2',
                'img': 'works14.jpeg',
                'title': 'Ipsum Amet Dolar Sit',
                'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo.'
            },
            {
                'classes': 'category-identity page2',
                'img': 'works15.jpeg',
                'title': 'Ipsum Amet Dolar Sit',
                'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo.'
            },
            {
                'classes': 'category-identity page2',
                'img': 'works16.jpeg',
                'title': 'Ipsum Amet Dolar Sit',
                'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo.'
            },
            {
                'classes': 'category-identity page2',
                'img': 'works17.jpeg',
                'title': 'Ipsum Amet Dolar Sit',
                'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo. '
            },
            {
                'classes': 'category-identity page2',
                'img': 'works18.jpeg',
                'title': 'Ipsum Amet Dolar Sit',
                'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo.'
            },
            {
                'classes': 'category-identity page3',
                'img': 'works19.jpeg',
                'title': 'Ipsum Amet Dolar Sit',
                'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo.'
            },
            {
                'classes': 'category-identity page3',
                'img': 'works20.jpeg',
                'title': 'Ipsum Amet Dolar Sit',
                'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo.'
            },
            {
                'classes': 'category-illustration page3',
                'img': 'works21.jpeg',
                'title': 'Ipsum Amet Dolar Sit',
                'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo. '
            },
            {
                'classes': 'category-illustration page3',
                'img': 'works22.jpeg',
                'title': 'Ipsum Amet Dolar Sit',
                'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo.'
            },
            {
                'classes': 'category-illustration page3',
                'img': 'works23.jpeg',
                'title': 'Ipsum Amet Dolar Sit',
                'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo.'
            },
            {
                'classes': 'category-illustration page3',
                'img': 'works24.jpeg',
                'title': 'Ipsum Amet Dolar Sit',
                'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo.'
            },
            {
                'classes': 'category-illustration page3',
                'img': 'works25.jpeg',
                'title': 'Ipsum Amet Dolar Sit',
                'text': 'Lorem ipsum dolor sit amet, consectetur adip iscingelitmauris nec ipsum at lacus commodo.'
            }
        ])
    .pager
        .pager--row
            .mp-filter--list
                li(data-filter=".page1").pager--btn.is-active 1
                li(data-filter=".page2").pager--btn 2
                li(data-filter=".page3").pager--btn 3