$browser-context: 16;

// COLOR
$orange: #f98561;
$neal: #23afc8;
$main-blue: #2190c1;
$second-blue: #12a3d6;
$main-text-color: #515862;
$slider-text-color: #cccece;
$details-link: #3e9dd1;

//BREAKPOINTS
$small: max-width 40em; //640px
$medium: max-width 50em; //800px
$large: max-width 60em; //960px
