$browser-context: 16;

// COLOR
$orange: #f98561;
$neal: #23afc8;
$main-blue: #2190c1;
$second-blue: #12a3d6;
$main-text-color: #515862;
$slider-text-color: #cccece;
$details-link: #3e9dd1;
$dark-blue-bg: #2e3e4f;
$features-blue: #2b99cc;
$person-bg: #c1c1c1;
$footer-text: #a3afb2;
$about-border-color: #dcdcdc;
$member-office: #666;
$ruler: #e1e1e1;

//BREAKPOINTS
$small: max-width 40em; //640px
$medium: max-width 50em; //800px
$large: max-width 60em; //960px
