.features {
  padding-bottom: rem(30);
}

.features--header {
  padding-top: rem(32);
  margin-bottom: rem(40);
  text-align: center;
}

.features--title {
  margin-bottom: rem(23);
  @include font(oswald, bold);
  font-size: rem(40);
  color: $main-blue;
  text-transform: uppercase;
}

.features--subtitle {
  padding: 0 12.5%;
  @include font(ubuntu);
  font-size: rem(12);
  color: $main-text-color;
}

.features-list {
  @include container();
}

.feature {
  @extend %list-item;
}

.feature--title {
  margin-bottom: rem(10);
  @include font(breeserif);
  font-size: rem(17);
  color: $features-blue;
}

.feature--text {
  @include font(ubuntu);
  font-size: rem(11);
  color: $main-text-color;
  line-height: rem(15);
}

.feature--details a {
  color: $features-blue;
  @include font(ubuntu, bold);
}