footer {
  background-color: $dark-blue-bg;
}

.footer-row {
  @include container();
  padding-top: rem(40);
  padding-bottom: rem(30);
}

.footer-col:nth-child(1) {
  @include span(1 of $footer_susy first);

    @include breakpoint($medium) {
      @include span (4 of $feature_susy);
    }

  @include breakpoint($small) {
    @include span (6 of $feature_susy);
  }
}

.footer-col:nth-child(2) {
  @include span(1 at 2 of $footer_susy);

  @include breakpoint($medium) {
    @include span (4 of $feature_susy);
    margin-left: 0;
  }

  @include breakpoint($small) {
    @include span (6 of $feature_susy);
    margin-right: 0;
  }
}

.footer-col:nth-child(3) {
  @include span(1 at 3 of $footer_susy);

  @include breakpoint($medium) {
    @include span (4 of $feature_susy);
    margin-left: 0;
    margin-right: 0;
  }

  @include breakpoint($small) {
    @include span (12 of $feature_susy);
    
    .footer-col--title {
      text-align: center;
    }

    .footer-line {
      @include span(4 of 12 1/4 after);
      
      &:last-child {
        margin-right: 0;
      }

      &::after {
        display: none;
      }
    }
  }
}

.footer-col:nth-child(4) {
  @include span(1 of $footer_susy last);

  @include breakpoint($medium) {
    @include span (12 of $feature_susy);
    margin-left: 0;

    .footer-col--title {
      text-align: center;
    }
  }
}

.footer-col {
  @include breakpoint($medium) {
    margin-bottom: 2rem;
  }
}


.footer-col--title {
  margin-bottom: rem(20);
  @include font(oswald, bold);
  font-size: rem(23);
  color: $orange;
  text-transform: uppercase;
}

.footer-line {

  &::after {
    display: block;
    content: '';
    clear: both;
    width: 100%;
    height: 1px;
    margin-top: rem(10);
    margin-bottom: rem(10);
    background-color: rgba(white, .3);
  }
}

.footer-line:last-child::after {
  display: none;
}

.footer-line--text {
  @include font(ubuntu);
  font-size: rem(11);
  color: $footer-text;
  line-height: 1.8;
}

.footer-line--link {
  display: inline-block;
  padding: .3rem 0;
  @include font(ubuntu);
  font-size: rem(11);
  color: $main-blue;
}

.footer-line--img {
  display: block;
  float: left;
  margin-right: rem(10);
}

.newsletter-form {

  &::after {
    @include cf;
  }

  label {
    @include font(ubuntu);
    color: $main-blue;
    font-size: rem(13);
  }
  
  input[type='email'] {
    display: block;
    padding: 0 .5rem;
    box-sizing: border-box;
    width: 100%;
    margin-top: rem(15);
    outline: none;
    border: none;
    color: $main-text-color;
    line-height: rem(28);
    background-color: #fff;
    border-radius: rem(3);
  }

  input[type='submit'] {
    display: block;
    box-sizing: border-box;
    float: right;
    padding: 0 1rem;
    margin-top: rem(15);
    outline: none;
    border: none;
    @include font(ubuntu);
    color: #fff;
    font-size: rem(13);
    line-height: rem(28);
    background-color: $main-blue;
    border-radius: rem(3);
  }
}

.contact-item {
  margin-bottom: rem(30);
  background: {
    repeat: no-repeat;
    position: 0 center;
    size: rem(35) rem(35);
  }

  &:nth-of-type(1){
    background-image: svg("phone.min", "[fill]: #2190c1");
  }

  &:nth-of-type(2){
    background-image: svg("mobile.min", "[fill]: #2190c1");
  }

  &:nth-of-type(3){
    background-image: svg("mail.min", "[fill]: #2190c1");
  }

  &:last-child {
    margin-bottom: 0;
  }

  @include breakpoint($medium) {
    min-width: rem(155);
    width: rem(155);
    margin-left: auto;
    margin-right: auto;
  }
}

.contact-item--stuff {
  display: block;
  padding-left: rem(44);
  @include font(ubuntu);
  color: $footer-text;
  font-size: rem(13);
  line-height: 1.3;

  a {
    color: $footer-text;
  }
}