.hero {
  background: {
    image: url(../img/hero.jpg);
    repeat: no-repeat;
    position: center;
  }
  width: 100%;
  height: rem(293);
}

.hero--title {
  @include vert-center;
  @include font(oswald, bold);
  font-size: rem(62);
  color: $slider-text-color;
  text-align: center;
  text-transform: uppercase;
}