.hero {
  background: {
    color: $dark-blue-bg;
    image: url(../img/hero.jpg);
    repeat: no-repeat;
    position: center;
  }
  width: 100%;
  height: rem(293);

  @include breakpoint($medium) {
    height: rem(243);
  }

  @include breakpoint($small) {
    display: none;
  }
}

.hero--title {
  @include vert-center;
  @include font(oswald, bold);
  font-size: rem(59);
  color: $slider-text-color;
  text-align: center;
  text-transform: uppercase;

  @include breakpoint($medium) {
    font-size: rem(49);
  }
}