.hero {
  background: {
    image: url(../img/hero.jpg);
    repeat: no-repeat;
    position: center;
  }
  width: 100%;
  height: rem(293);

  @include breakpoint($medium) {
    height: rem(273);
  }

  @include breakpoint($small) {
    height: rem(250);
  }
}

.hero--title {
  @include vert-center;
  @include font(oswald, bold);
  font-size: rem(62);
  color: $slider-text-color;
  text-align: center;
  text-transform: uppercase;

  @include breakpoint($medium) {
    font-size: rem(52);
  }

  @include breakpoint($small) {
    font-size: rem(42);
  }
}