.main-portfolio {

}

.main-portfolio--title {
  height: rem(134);
  @include font(oswald, bold);
  font-size: rem(62);
  color: $main-blue;
  text-align: center;
  text-transform: uppercase;
  line-height: rem(134);
}