.map-wrap {
  margin-top: rem(37);
  border: 3px solid #fff;
}

#map {
  width: 100%;
  height: 315px;
}

//REMOVES GOOGLE STUFF
a[href^='http://maps.google.com/maps'] {
  display: none !important;
}
a[href^='https://maps.google.com/maps'] {
  display: none !important;
}

.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
  display: none;
}
.gmnoprint div {
  background: none !important;
}