.mp-filter {
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  border-top: 1px solid rgba($main-blue, .1);
  border-bottom: 1px solid rgba($main-blue, .1);
  @include cf;

  @include breakpoint($medium) {
    padding-left: 2%;
    padding-right: 2%;
  }
}

.mp-filter--list {
  float: left;
  list-style: none;

  &::after {
    @include cf;
  }

  @include breakpoint($small) {
    display: none;
  }
}

.mp-filter--item {
  float: left;
}

.mp-filter--item {
  display: block;
  height: rem(53);
  padding-left: rem(33);
  @include font(ubuntu);
  font-size: rem(15);
  color: $main-text-color;
  line-height: rem(53);
  text-transform: uppercase;
  cursor: pointer;
  
  &:hover {
    color: $main-blue;
  }

  &::after {
    content: '';
    display: inline-block;
    height: rem(25);
    margin-left: rem(33);
    vertical-align: middle;
    border-right: 1px solid #c4c4c4;
  }

  @include breakpoint($medium) {
    padding-left: rem(15);

    &::after {
      margin-left: rem(15);
    }
  }

  @include breakpoint($small) {
    padding-left: rem(7);
    font-size: rem(12);

    &::after {
      height: rem(20);
      margin-left: rem(7);
    }
  }
}

.mp-filter--item:last-child {

  &::after {
    display: none;
  }
}

.mp-filter--item.is-active {
  color: $main-blue;
}

.mp-filter--view {
  float: right;
  height: rem(53);
}

.mp-filter--icon {
  display: block;
  @include vert-center;
  float: left;
  width: rem(24);
  height: rem(24);
  cursor: pointer;
  fill: #aaa;

  &:first-child {
    margin-right: rem(15);
  }
}

.mp-filter--icon__active {
  fill: $main-blue;
}

//select

.mp-filter--select {
  display: none;
  height: rem(25);
  margin-top: rem(15);
  vertical-align: middle;
  @include font(ubuntu);
  font-size: rem(15);
  color: $main-text-color;
  text-transform: uppercase;
  line-height: rem(25);
  background: #f4f4f4;
  border-color: $main-blue;

  @include breakpoint($small) {
    display: inline-block;
  }
}
