.portolio {
  padding-top: rem(50);
  padding-bottom: rem(70);
  background-color: $dark-blue-bg;
}

.portolio--title {
  @include span(first);
  @include font(breeserif);
  color:  $orange;
  font-size: rem(30);
}

.portolio--more-link {
  @include span(last);

  a{
    @include font(oswald, bold);
    height: rem(32);
    padding-left: rem(12);
    padding-right: rem(12);
    font-size: 16px;
    color: #fff;
    background-color: $main-blue;
    border-radius: 3px;
    line-height: rem(32);
  }
}

.gallery {
  padding-top: rem(60);
  clear: both;
}

.gallery-card {
  box-sizing: border-box;
  @include span(4);
  @include post(1/1.6);
  width: 29.787234043%;

  &:last-child {
    @include post(0);
  }

  @include breakpoint($small) {
    @include span(5);
    @include squish(1/2);
    margin-bottom: span(1/2);
  }
}

.gallery-card--pic {
  margin-bottom: rem(20);
  position: relative;
  text-align: center;

  img {
    display: block;
    max-width: 100%;
    border: rem(10) solid #fff;
  }
}

.gallery-card--details {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($dark-blue-bg,.6);
  transition: all .2s ease;

  a {
    display: block;
    box-sizing: border-box;
    width: 51.071428571%;
    height: rem(42);
    margin: 0 auto;
    padding-left: 19.642857143%;
    padding-right: 5.357142857%;
    @include vert-center;
    @include font(breeserif);
    font-size: rem(17);
    color: #f4f4f4;
    line-height: rem(42);
    background-image: svg("eye.min", '[fill]: #f4f4f4');
    background-repeat: no-repeat;
    background-position: 15.638297872% 50%;
    background-size: 25% auto;
    border: 1px solid #f8f8f8;
    border-radius: 4px;
    cursor: pointer;
  }
}

.gallery-card--pic:hover .gallery-card--details {
  display: block;
}

.gallery-card--title {
  margin-bottom: rem(10);
  @include font(breeserif);
  font-size: rem(17);
  color: $orange;
  text-align: left;
}

.gallery-card--text {
  @include font(ubuntu);
  font-size: rem(11);
  color: #bcbcbc;
  line-height: rem(15);
  text-align: left;
}