.portolio {
  background-color: $dark-blue-bg;
  height: 555px;
}

.portolio--title {
  @include span(first);
  @include font(breeserif);
  color:  $orange;
  font-size: rem(30);
}

.portolio--more-link {
  @include span(last);

  a{
    @include font(oswald, bold);
    height: rem(32);
    padding-left: rem(12);
    padding-right: rem(12);
    font-size: 16px;
    color: #fff;
    background-color: $main-blue;
    border-radius: 3px;
    line-height: rem(32);
  }
}

.gallery {
  clear: both;
}

.gallery-card {
  box-sizing: border-box;
  @include span(4);
  @include post(1/1.6);
  width: rem(280);

  outline: 1px dotted white;

  &:last-child {
    @include post(0);
  }
}

.gallery-card--pic {
  position: relative;
  text-align: center;
  transition: all .8s ease;

  img {
    display: block;
    border: rem(10) solid #fff;
  }

}

.gallery-card--pic:hover .gallery-card--details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($dark-blue-bg,.6);
  transition: all .2s ease;

  &::after {
    display: block;
    content: 'Details';
    box-sizing: border-box;
    width: 30%;
    height: rem(42);
    margin: 0 auto;
    padding-left: rem(15);
    padding-right: rem(15);
    @include vert-center;
    @include font(breeserif);
    font-size: rem(17);
    color: #f4f4f4;
    line-height: rem(42);
    border: 1px solid #f8f8f8;
    border-radius: 4px;
    cursor: pointer;
  }
}


.gallery-card--title {
  margin-bottom: rem(10);
  @include font(breeserif);
  font-size: rem(17);
  color: $orange;
  text-align: left;
}

.gallery-card--text {
  @include font(ubuntu);
  font-size: rem(11);
  color: #bcbcbc;
  line-height: rem(15);
  text-align: left;
}