.search {
  @include vert-center;
}

.search input {
  box-sizing: content-box;
  width: 2.5rem;
  padding: 0;
  padding-right: rem(40);
  padding-left: rem(10);

  transition: all .5s;

  color: $main-text-color;
  border: none;
  border-radius: 10em;
  outline: none;
  background-color: inherit;
  background-image: url(../img/icon-search.png);
  background-repeat: no-repeat;
  background-position: right 0;

  font-size: rem(12);
  line-height: rem(36);

  -webkit-appearance: textfield;
  @include font(ubuntu);
  @include font(ubuntu);

  &::placeholder {
    text-align: left;

    color: $main-text-color;

    font-size: rem(12);

    @include font(ubuntu);
  }

  &:focus {
    width: calc(100% - 40px);

    border-color: $blue;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(18,163,214,.5);
  }
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

.search__icon {
  float: right;

  width: 36px;
  height: 36px;

  border-radius: 50%;
  background-color: $orange;
}
