.search {
  text-align: right;

  @include vert-center;

  @include breakpoint($small) {
    text-align: center;
  }
}

.search input {
  box-sizing: content-box;
  width: 2.5rem;
  padding: 0;
  padding-right: rem(40);
  padding-left: rem(10);

  transition: all .5s;

  color: $main-text-color;
  border: none;
  border-radius: 10em;
  outline: none;
  background-color: #f4f4f4;
  background-image: url(../img/icon-search.png);
  background-repeat: no-repeat;
  background-position: right 0;

  font-size: rem(12);
  line-height: rem(36);
  height: rem(36);

  -webkit-appearance: textfield;
  @include font(ubuntu);

  @include breakpoint($small) {
    box-sizing: border-box;
    width: 95%;
    padding-right: rem(10);

    border: 1px solid #ccc;
    background-size: contain;
    height: rem(24);
    line-height: 100%;
  }

  &::placeholder {
    text-align: left;

    color: $main-text-color;

    font-size: rem(12);

    @include font(ubuntu);
  }

  &:focus {
    width: calc(100% - 3.125rem);

    background-color: #fff;
    box-shadow: 0 0 5px rgba(18,163,214,.5);

    @include breakpoint($small) {
      width: 95%;
    }
  }
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}
