.section-title {
  @include font(oswald, bold);
  color: $main-blue;
  text-transform: uppercase;
  text-align: center;
}

.section-title--l {
  font-size: rem(40); //50px

  @include breakpoint($medium) {
    font-size: calc(2.5rem - 17%);
  }

  @include breakpoint($small) {
    font-size: calc(2.5rem - 20%);
  }
}

.section-title--m {
  font-size: rem(29);

  @include breakpoint($medium) {
    font-size: calc(1.8125rem - 17%);
  }

  @include breakpoint($small) {
    font-size: calc(1.8125rem - 20%);
  }
}

.section-text {
  @include font(ubuntu);
  font-size: rem(13);
  color: $main-text-color;
  text-align: center;
  line-height: 1.5;
}

.section-text--b {
  @include font(ubuntu, bold);
}

