.services__wrap {
  padding-bottom: 1.276595745%; //12
}

.services__title {
  position: relative;
  width: rem(144);
  height: rem(35);
  margin-top: rem(-15);
  margin-left: auto;
  margin-right: auto;
  @include font(oswald, bold);
  text-transform: uppercase;
  font-size: rem(15);
  text-align: center;
  color: #fff;
  line-height: rem(35);
  background-color: $main-blue;
  border-radius: 4px;
  z-index: 3;
}

.services__list {
  padding-top: 1.063829787%; //10
  text-align: center;
}

.services__img {
  width: rem(118);
  height: rem(118);
  background-repeat: no-repeat;
}

.features-item:nth-of-type(2) .services__img{
  background-position: -118px 0;
}

.features-item:nth-of-type(3) .services__img {
  background-position: -236px 0;
}

.features-item:nth-of-type(4) .services__img {
  background-position: -354px 0;
}

.services__text {
  padding: 0 12.195121951%; //25
}