.slider {
  background-color: orange;
  height: rem(491);
}

.slider--item {
  position: relative;
}

.slider--img img{
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.slider--content {
  //position: absolute;
  //top: 0;
  //left: 0;
  outline: 1px dotted green;
  //@include span(8);
  //@include pre(2);

}

.slider--title {
  @include font(oswald, bold);
  text-transform: uppercase;
  text-align: center;
  font-size: rem(45);
  color: $slider-text-color;
}

.slider--text {
  @include font(ubuntu);
  font-size: rem(14);
  color: $slider-text-color;
  text-align: center;
}

.slider--btn {
  display: block;
  width: rem(243);
  height: rem(51);
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  @include font(ubuntu);
  font-size: rem(25);
  line-height: rem(51);
  color: rgba(255, 255, 255, .8);
  background-color: $orange;
  border-radius: rem(4);
}