.slider {
  background-color: orange;
  height: rem(490);
}

.slider--item {

}

.slide {
  width: 1280px;
}

.slide--img img{
  display: block;
  max-width: 100%;
  min-height: rem(490);
  margin: 0 auto;
}

.slide--inner {
  position: relative;
}

.slide--content {
  position: absolute;
  bottom: 11rem;
  left: 0;
  @include span(8);
  @include pre(2);
}

.slide--title {
  margin-bottom: rem(25);
  @include font(oswald, bold);
  text-transform: uppercase;
  text-align: center;
  font-size: rem(45);
  color: $slider-text-color;
}

.slide--text {
  margin-bottom: rem(46);
  @include font(ubuntu);
  font-size: rem(14);
  color: $slider-text-color;
  text-align: center;
}

.slide--btn {
  display: block;
  width: rem(243);
  height: rem(51);
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  @include font(ubuntu);
  font-size: rem(25);
  line-height: rem(51);
  color: rgba(255, 255, 255, .8);
  background-color: $orange;
  border-radius: rem(4);
}

.flickity-page-dots {
  bottom: 0;
  left: 37%;
}

.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}

.flickity-page-dots .dot.is-selected {
  background: white;
}

