.top-slider {
  background-color: $dark-blue-bg;
}

.slider {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
}

.slide {
  width: 100%;
}

.slide--img img{
  display: block;
  max-width: 100%;
  min-height: rem(490);
  margin: 0 auto;

  @include breakpoint($medium) {
    min-height: rem(306);
  }

  @include breakpoint($small) {
    min-height: rem(245);
  }
}

.slide--inner {
  position: relative;
}

.slide--content {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 19%;

  @include span(8);
  @include pre(2);

  @include breakpoint($medium) {
    @include span(9);
    @include pre(1.5);
    margin-bottom: 7%;
  }

  @include breakpoint($small) {
    @include span(10);
    @include pre(1);
  }
}

.slide--title {
  margin-bottom: rem(25);
  @include font(oswald, bold);
  font-size: rem(45);
  text-transform: uppercase;
  text-align: center;
  color: $slider-text-color;

  @include breakpoint($medium) {
    font-size: rem(41);
  }

  @include breakpoint($small) {
    font-size: rem(34);
  }
}

.slide--text {
  margin-bottom: rem(46);
  @include font(ubuntu);
  font-size: rem(14);
  text-align: center;
  line-height: 1.3;
  color: $slider-text-color;

  @include breakpoint($medium) {
    margin-bottom: rem(35);
    font-size: rem(13);
  }

  @include breakpoint($small) {
    margin-bottom: rem(30);
  }
}

.slide--btn {
  display: block;
  width: rem(243);
  height: rem(51);
  margin: 0 auto;
  @include font(ubuntu);
  font-size: rem(25);
  text-align: center;
  text-transform: uppercase;
  line-height: rem(51);
  color: rgba(255, 255, 255, .8);
  background-color: $orange;
  border-radius: rem(4);

@include breakpoint($medium) {
  width: rem(200);
  height: rem(45);
  font-size: rem(20);
  line-height: rem(45);
}

  @include breakpoint($small) {
    width: rem(150);
    height: rem(40);
    font-size: rem(18);
    line-height: rem(40);
  }
}

.flickity-page-dots {
  bottom: rem(25);
  left: 0;
  padding-right: 14%;
  text-align: right;

  @include breakpoint($medium) {
    padding-right: 5%;
  }
}

.flickity-page-dots .dot {
  width: rem(17);
  height: rem(17);
  margin: 0 4px;
  opacity: 1;
  background: #adadad;
  border: 2px solid #adadad;

  @include breakpoint($small) {
    width: rem(10);
    height: rem(10);
  }
}

.flickity-page-dots .dot.is-selected {
  background: $main-blue;
  border: 4px solid $orange;

  @include breakpoint($small) {
    border-width: 2px;
  }
}

