.tagline {
  @include font(oswald, bold);
  color: $main-blue;
  font-size: rem(62);
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;

  @include breakpoint($medium) {
    font-size: rem(53);
  }

  @include breakpoint($small) {
    font-size: rem(45);
  }
}

.tagline--gray {
  color: $main-text-color;
}