.testimonials {
  margin-top: rem(30);
}

.testimonials--title {
  @include font(oswald, bold);
  font-size: rem(27);
  color: $main-blue;
  text-transform: uppercase;
  text-align: center;
}

.testimonials--slider-wrap {
  width: 82.127659574%;
  margin: 0 auto;
  margin-top: rem(35);
}

.reviews-slider {
  margin-bottom: rem(30);
}

.comment {
  width: 100%;
}

.comment--text {
  margin-bottom: rem(50);
  @include font(breeserif);
  font-size: rem(23);
  color: $main-text-color;
  text-align: center;
}

.comment--job {
  text-align: center;
}

.comment--job-name,
.comment--job-title {
  font-size: rem(12);
  color: $orange;
}

.comment--job-name {
  @include font(ubuntu, bold);
}

.comment--job-title {
  @include font(ubuntu);
}

.testimonials--persons-wrap {
  text-align: center;
}

.person {
  display: inline-block;
  width: rem(67);
  height: rem(67);
  margin-bottom: rem(16);
  border-radius: 50%;
  cursor: pointer;
  background: {
    color: $person-bg;
    image: svg("woman.min", '[fill]: #6b6b6b');
    repeat: no-repeat;
  }

  &::after {
    display: block;
    content: '';
    width: rem(67);
    height: rem(6);
    margin-top: calc(100% + 0.813rem);
    background: $person-bg;

  }

  &:nth-child(2) {
    background: {
      image: svg("man.min", '[fill]: #6b6b6b');
    }
  }
}

.person__current {
  background-color: $orange;
  position: relative;
  &::after {
    background-color: $orange;
  }
  &::before {
    content: '';
    position: absolute;
    top: calc(100% + .5rem);
    left: calc(50% - .313rem);
    transform: scale(0.9999);
    border-bottom: .313rem solid $orange;
    border-left: .313rem solid transparent;
    border-right: .313rem solid transparent;
  }
}