/* RESET */
* {
  box-sizing: border-box;
}

html {
  font-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-size: inherit;
}

main {
  display: block;
}

a {
  text-decoration: none;
}

button {
  overflow: visible;
  cursor: pointer;
  letter-spacing: inherit;
  border: 0;
  outline: 0;
  background: none;
  font: inherit;
  -webkit-font-smoothing: inherit;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* RESET ends */
/*! Flickity v1.1.0
http://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: white;
  background: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  /* vertically center */
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.flickity-prev-next-button:hover {
  background: white;
}

.flickity-prev-next-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #09F;
}

.flickity-prev-next-button:active {
  filter: alpha(opacity=60);
  /* IE8 */
  opacity: 0.6;
}

.flickity-prev-next-button.previous {
  left: 10px;
}

.flickity-prev-next-button.next {
  right: 10px;
}

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button:disabled {
  filter: alpha(opacity=30);
  /* IE8 */
  opacity: 0.3;
  cursor: auto;
}

.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

.flickity-prev-next-button .arrow {
  fill: #333;
}

/* color & size if no SVG - IE8 and Android 2.3 */
.flickity-prev-next-button.no-svg {
  color: #333;
  font-size: 26px;
}

/* ---- page dots ---- */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots {
  direction: rtl;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  filter: alpha(opacity=25);
  /* IE8 */
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  filter: alpha(opacity=100);
  /* IE8 */
  opacity: 1;
}

html {
  background-color: #f4f4f4;
}

body {
  font-size: 16px;
}

.spacer {
  margin: 0 -1rem;
  border-bottom: 1px solid #d9d9d9;
}

.container {
  height: 100%;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}

.container:after {
  content: " ";
  display: block;
  clear: both;
}

.card, .feature {
  width: 20%;
  float: left;
  margin-right: 6.6666666667%;
}

.card:last-child, .feature:last-child {
  width: 20%;
  float: right;
  margin-right: 0;
}

@media (max-width: 40em) {
  .card, .feature {
    width: 46.6666666667%;
    float: left;
    margin-right: 6.6666666667%;
    margin-bottom: 6.6666666667%;
  }
  .card:nth-child(2n), .feature:nth-child(2n) {
    width: 46.6666666667%;
    float: right;
    margin-right: 0;
  }
  .card:nth-child(odd), .feature:nth-child(odd) {
    clear: both;
  }
  .card:nth-last-child(-n+2), .feature:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}

.header {
  width: 100%;
  height: 5rem;
}

@media (max-width: 50em) {
  .header {
    height: 3.75rem;
  }
}

@media (max-width: 40em) {
  .header {
    height: 7.5rem;
  }
}

.header__logo,
.header__menu,
.header__search {
  height: inherit;
}

@media (max-width: 40em) {
  .header__logo,
  .header__menu,
  .header__search {
    height: 3.75rem;
  }
}

.header__logo {
  box-sizing: border-box;
  width: 33.3333333333%;
  float: left;
}

@media (max-width: 50em) {
  .header__logo {
    box-sizing: border-box;
    width: 25%;
    float: left;
  }
}

@media (max-width: 40em) {
  .header__logo {
    box-sizing: border-box;
    width: 16.6666666667%;
    float: left;
  }
}

.header__menu {
  box-sizing: border-box;
  width: 50%;
  float: left;
}

@media (max-width: 40em) {
  .header__menu {
    box-sizing: border-box;
    width: 83.3333333333%;
    float: right;
  }
}

.header__search {
  box-sizing: border-box;
  width: 16.6666666667%;
  float: right;
}

@media (max-width: 50em) {
  .header__search {
    box-sizing: border-box;
    width: 25%;
    float: right;
  }
}

@media (max-width: 40em) {
  .header__search {
    box-sizing: border-box;
    width: 100%;
    float: right;
  }
}

.logo {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.logo__img {
  display: inline-block;
  height: 1.25rem;
  margin-right: 0.4375rem;
  -webkit-transform: translateY(-0.1em);
          transform: translateY(-0.1em);
  vertical-align: middle;
}

@media (max-width: 50em) {
  .logo__img {
    display: block;
  }
}

.logo__img::before,
.logo__img::after {
  display: inline-block;
  width: 1.25rem;
  height: inherit;
  content: '';
}

.logo__img::before {
  margin-right: 0.1875rem;
  border-radius: 50%;
  background-color: #f98561;
}

.logo__img::after {
  background-color: #23afc8;
}

.logo__text {
  color: #606060;
  font-size: 1.25rem;
  line-height: 1.5;
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 50em) {
  .logo__text {
    display: block;
    line-height: 1;
  }
}

@media (max-width: 40em) {
  .logo__text {
    display: none;
  }
}

.menu,
.menu__list {
  height: inherit;
}

.menu__list__item {
  box-sizing: border-box;
  width: 20.8333333333%;
  float: left;
  padding-left: 1.0416666667%;
  padding-right: 1.0416666667%;
  height: 100%;
  list-style-type: none;
  text-align: center;
  transition: all 0.2s ease;
}

@media (max-width: 50em) {
  .menu__list__item {
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding-left: 1.0416666667%;
    padding-right: 1.0416666667%;
  }
}

.menu__list__item:hover {
  background-color: #12a3d6;
  box-shadow: inset 0 -0.75rem 0 #0e83ac;
}

@media (max-width: 40em) {
  .menu__list__item:hover {
    background: none;
    box-shadow: none;
  }
}

@media (min-width: 40em) {
  .menu__list__item:hover a {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Ubuntu", san-serif;
    font-weight: 700;
    font-style: normal;
  }
}

.menu__list__item a {
  display: block;
  color: #515862;
  font-size: 0.875rem;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: "Ubuntu", san-serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 40em) {
  .menu__list__item a:hover {
    background-color: #12a3d6;
    border-radius: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: rgba(255, 255, 255, 0.8);
    font-family: "Ubuntu", san-serif;
    font-weight: 700;
    font-style: normal;
  }
}

.menu__list__item--active {
  background-color: #12a3d6;
  box-shadow: inset 0 -0.75rem 0 #0e83ac;
}

@media (max-width: 40em) {
  .menu__list__item--active {
    background: none;
    box-shadow: none;
  }
}

.menu__list__item--active a {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Ubuntu", san-serif;
  font-weight: 700;
  font-style: normal;
}

@media (max-width: 40em) {
  .menu__list__item--active a {
    background-color: #12a3d6;
    border-radius: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}

.caret {
  position: relative;
  -moz-transform: scale(0.9999);
}

.caret:before {
  position: absolute;
  top: calc(100% - 1.125rem);
  left: calc(50% - .5rem);
  content: '';
  border-right: 0.375rem solid transparent;
  border-bottom: 0.375rem solid #0e83ac;
  border-left: 0.375rem solid transparent;
}

@media (max-width: 40em) {
  .caret:before {
    display: none;
  }
}

.caret:after {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  content: '';
  border-right: -1px solid transparent;
  border-bottom: -1px solid #0e83ac;
  border-left: -1px solid transparent;
}

.search {
  text-align: right;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 40em) {
  .search {
    text-align: center;
  }
}

.search input {
  box-sizing: content-box;
  width: 2.5rem;
  padding: 0;
  padding-right: 2.5rem;
  padding-left: 0.625rem;
  transition: all 0.5s;
  color: #515862;
  border: none;
  border-radius: 10em;
  outline: none;
  background-color: #f4f4f4;
  background-image: url(../img/icon-search.png);
  background-repeat: no-repeat;
  background-position: right 0;
  font-size: 0.75rem;
  line-height: 2.25rem;
  height: 2.25rem;
  -webkit-appearance: textfield;
  font-family: "Ubuntu", san-serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 40em) {
  .search input {
    box-sizing: border-box;
    width: 95%;
    padding-right: 0.625rem;
    border: 1px solid #ccc;
    background-size: contain;
    height: 1.5rem;
    line-height: 100%;
  }
}

.search input::-webkit-input-placeholder {
  text-align: left;
  color: #515862;
  font-size: 0.75rem;
  font-family: "Ubuntu", san-serif;
  font-weight: 400;
  font-style: normal;
}

.search input::-moz-placeholder {
  text-align: left;
  color: #515862;
  font-size: 0.75rem;
  font-family: "Ubuntu", san-serif;
  font-weight: 400;
  font-style: normal;
}

.search input:-ms-input-placeholder {
  text-align: left;
  color: #515862;
  font-size: 0.75rem;
  font-family: "Ubuntu", san-serif;
  font-weight: 400;
  font-style: normal;
}

.search input::placeholder {
  text-align: left;
  color: #515862;
  font-size: 0.75rem;
  font-family: "Ubuntu", san-serif;
  font-weight: 400;
  font-style: normal;
}

.search input:focus {
  width: calc(100% - 3.125rem);
  background-color: #fff;
  box-shadow: 0 0 5px rgba(18, 163, 214, 0.5);
}

@media (max-width: 40em) {
  .search input:focus {
    width: 95%;
  }
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

.top-slider {
  background-color: #2e3e4f;
}

.slider {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
}

.slide {
  width: 100%;
}

.slide--img img {
  display: block;
  max-width: 100%;
  min-height: 30.625rem;
  margin: 0 auto;
}

@media (max-width: 50em) {
  .slide--img img {
    min-height: 19.125rem;
  }
}

@media (max-width: 40em) {
  .slide--img img {
    min-height: 15.3125rem;
  }
}

.slide--inner {
  position: relative;
}

.slide--content {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 19%;
  box-sizing: border-box;
  width: 66.6666666667%;
  float: left;
  margin-left: 16.6666666667%;
}

@media (max-width: 50em) {
  .slide--content {
    box-sizing: border-box;
    width: 75%;
    float: left;
    margin-left: 12.5%;
    margin-bottom: 7%;
  }
}

@media (max-width: 40em) {
  .slide--content {
    box-sizing: border-box;
    width: 83.3333333333%;
    float: left;
    margin-left: 8.3333333333%;
    margin-bottom: 16%;
  }
}

.slide--title {
  margin-bottom: 1.5625rem;
  font-family: "Oswald", san-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.8125rem;
  text-transform: uppercase;
  text-align: center;
  color: #cccece;
}

@media (max-width: 50em) {
  .slide--title {
    font-size: 2.5625rem;
  }
}

@media (max-width: 40em) {
  .slide--title {
    font-size: 2.125rem;
  }
}

.slide--text {
  margin-bottom: 2.875rem;
  font-family: "Ubuntu", san-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  text-align: center;
  line-height: 1.3;
  color: #cccece;
}

@media (max-width: 50em) {
  .slide--text {
    margin-bottom: 2.1875rem;
    font-size: 0.8125rem;
  }
}

@media (max-width: 40em) {
  .slide--text {
    display: none;
  }
}

.slide--btn {
  display: block;
  width: 15.1875rem;
  height: 3.1875rem;
  margin: 0 auto;
  font-family: "Ubuntu", san-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5625rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 3.1875rem;
  color: rgba(255, 255, 255, 0.8);
  background-color: #f98561;
  border-radius: 0.25rem;
}

@media (max-width: 50em) {
  .slide--btn {
    width: 12.5rem;
    height: 2.8125rem;
    font-size: 1.25rem;
    line-height: 2.8125rem;
  }
}

@media (max-width: 40em) {
  .slide--btn {
    width: 9.375rem;
    height: 2.5rem;
    font-size: 1.125rem;
    line-height: 2.5rem;
  }
}

.flickity-page-dots {
  bottom: 1.5625rem;
  left: 0;
  padding-right: 14%;
  text-align: right;
}

@media (max-width: 50em) {
  .flickity-page-dots {
    padding-right: 5%;
  }
}

.flickity-page-dots .dot {
  width: 1.0625rem;
  height: 1.0625rem;
  margin: 0 4px;
  opacity: 1;
  background: #adadad;
  border: 2px solid #adadad;
}

@media (max-width: 40em) {
  .flickity-page-dots .dot {
    width: 0.625rem;
    height: 0.625rem;
  }
}

.flickity-page-dots .dot.is-selected {
  background: #2190c1;
  border: 4px solid #f98561;
}

@media (max-width: 40em) {
  .flickity-page-dots .dot.is-selected {
    border-width: 2px;
  }
}

.services {
  padding-bottom: 1.875rem;
}

.services--title {
  position: relative;
  width: 9rem;
  height: 2.1875rem;
  margin-top: -0.9375rem;
  margin-bottom: 1.875rem;
  margin-left: auto;
  margin-right: auto;
  font-family: "Oswald", san-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  font-size: 0.9375rem;
  text-align: center;
  color: #fff;
  line-height: 2.1875rem;
  background-color: #2190c1;
  border-radius: 4px;
  z-index: 3;
}

.services--list {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}

.services--list:after {
  content: " ";
  display: block;
  clear: both;
}

.card {
  padding-left: 1.6666666667%;
  padding-right: 1.6666666667%;
}

.card--icon {
  width: 7.375rem;
  height: 7.375rem;
  margin: 0 auto;
  margin-bottom: 1.375rem;
  background-image: url(../img/services_img.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

@media (max-width: 50em) {
  .card--icon {
    width: 6.25rem;
    height: 6.25rem;
    background-size: cover;
  }
}

.card:nth-of-type(2) .card--icon {
  background-position: -118px 0;
}

@media (max-width: 50em) {
  .card:nth-of-type(2) .card--icon {
    background-position: -100px 0;
  }
}

.card:nth-of-type(3) .card--icon {
  background-position: -236px 0;
}

@media (max-width: 50em) {
  .card:nth-of-type(3) .card--icon {
    background-position: -200px 0;
  }
}

.card:nth-of-type(4) .card--icon {
  background-position: -354px 0;
}

@media (max-width: 50em) {
  .card:nth-of-type(4) .card--icon {
    background-position: -300px 0;
  }
}

.card--title {
  margin-bottom: 0.625rem;
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.03125rem;
  color: #515862;
  text-align: center;
}

.card--text {
  font-family: "Ubuntu", san-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.6875rem;
  color: #515862;
  line-height: 0.9375rem;
  text-align: center;
}

.card--details a {
  color: #3e9dd1;
  font-family: "Ubuntu", san-serif;
  font-weight: 700;
  font-style: normal;
}

.portfolio {
  padding-bottom: 3.75rem;
  background-color: #2e3e4f;
}

.portfolio--header {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3.125rem;
  margin-bottom: 3.75rem;
}

.portfolio--header:after {
  content: " ";
  display: block;
  clear: both;
}

.portfolio--title {
  box-sizing: border-box;
  float: left;
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
  color: #f98561;
  font-size: 1.875rem;
}

@media (max-width: 40em) {
  .portfolio--title {
    box-sizing: border-box;
    width: 100%;
    float: left;
    text-align: center;
  }
}

.portfolio--more-link {
  box-sizing: border-box;
  float: right;
}

@media (max-width: 40em) {
  .portfolio--more-link {
    display: none;
  }
}

.portfolio--more-link a {
  font-family: "Oswald", san-serif;
  font-weight: 700;
  font-style: normal;
  height: 2rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 16px;
  color: #fff;
  background-color: #2190c1;
  border-radius: 3px;
  line-height: 2rem;
}

.portfolio--more-link.portfolio--more-link__bottom {
  display: none;
}

@media (max-width: 40em) {
  .portfolio--more-link.portfolio--more-link__bottom {
    display: block;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-top: 4.1666666667%;
    text-align: center;
  }
}

.gallery {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}

.gallery:after {
  content: " ";
  display: block;
  clear: both;
}

.gallery--item {
  width: 29.8969072165%;
  float: left;
  margin-bottom: 4.1666666667%;
}

.gallery--item:nth-child(3n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}

.gallery--item:nth-child(3n + 2) {
  margin-left: 35.0515463918%;
  margin-right: -100%;
  clear: none;
}

.gallery--item:nth-child(3n + 3) {
  margin-left: 70.1030927835%;
  margin-right: -100%;
  clear: none;
}

.gallery--item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

@media (max-width: 50em) {
  .gallery--item {
    width: 47.4226804124%;
    float: left;
  }
  .gallery--item:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  .gallery--item:nth-child(2n + 2) {
    margin-left: 52.5773195876%;
    margin-right: -100%;
    clear: none;
  }
  .gallery--item:nth-last-child(-n+3) {
    margin-bottom: 4.1666666667%;
  }
  .gallery--item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}

@media (max-width: 40em) {
  .gallery--item {
    width: 100%;
    float: left;
    float: none;
    margin-bottom: 8.3333333333%;
  }
  .gallery--item:nth-child(1n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: none;
  }
  .gallery--item:nth-last-child(-n+3),
  .gallery--item:nth-last-child(-n+2) {
    margin-bottom: 8.3333333333%;
  }
  .gallery--item:nth-last-child(-n+1) {
    margin-bottom: 0;
  }
}

.gallery-card {
  box-sizing: border-box;
  width: 100%;
  max-width: 17.5rem;
}

@media (max-width: 50em) {
  .gallery-card {
    margin: 0 auto;
  }
}

.gallery-card--pic {
  margin-bottom: 1.25rem;
  position: relative;
  text-align: center;
}

.gallery-card--pic img {
  display: block;
  max-width: 100%;
  border: 0.625rem solid #fff;
}

.gallery-card--details {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 62, 79, 0.6);
}

.gallery-card--details a {
  display: block;
  box-sizing: border-box;
  width: 51.071428571%;
  height: 2.625rem;
  margin: 0 auto;
  padding-left: 19.642857143%;
  padding-right: 5.357142857%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.0625rem;
  color: #f4f4f4;
  line-height: 2.625rem;
  background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20100%2056.533%22%20style%3D%22fill%3A%23f4f4f4%3B%22%20height%3D%22%22%20width%3D%22%22%3E%3Cpath%20d%3D%22M99.995%2028.08c-.002-.042-.006-.082-.01-.123%200-.02-.002-.042-.004-.062-.002-.03-.007-.06-.01-.09l-.015-.103-.002-.013c-.123-.774-.487-1.5-1.045-2.057-3.19-3.78-6.985-7.146-10.844-10.22-8.31-6.62-17.816-12.16-28.308-14.39C53.692-.268%2047.59-.322%2041.494.768c-5.545.99-10.89%203.053-15.89%205.61-7.83%204-14.98%209.514-21.21%2015.697-1.153%201.144-2.3%202.312-3.348%203.555-1.396%201.654-1.396%203.613%200%205.267%203.19%203.78%206.985%207.144%2010.844%2010.218%208.312%206.622%2017.817%2012.16%2028.31%2014.39%206.063%201.29%2012.166%201.345%2018.262.255%205.544-.992%2010.888-3.054%2015.89-5.61%207.83-4%2014.98-9.515%2021.21-15.698%201.153-1.145%202.3-2.312%203.348-3.555.558-.56.922-1.283%201.045-2.057%200-.004%200-.01.002-.013.006-.035.01-.07.014-.104.005-.03.01-.06.013-.09l.005-.06.01-.123c.002-.062.004-.124.004-.187s-.004-.124-.007-.186zM50%2047.507c-10.627%200-19.24-8.614-19.24-19.24C30.76%2017.64%2039.372%209.024%2050%209.024s19.24%208.614%2019.24%2019.24c0%2010.628-8.613%2019.242-19.24%2019.242z%22%2F%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2228.266%22%20r%3D%226.369%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: 15.638297872% 50%;
  background-size: 25% auto;
  border: 1px solid #f8f8f8;
  border-radius: 4px;
  cursor: pointer;
}

.gallery-card--pic:hover .gallery-card--details {
  display: block;
}

.gallery-card--title {
  margin-bottom: 0.625rem;
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.0625rem;
  color: #f98561;
  text-align: left;
}

.gallery-card--text {
  font-family: "Ubuntu", san-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.6875rem;
  color: #bcbcbc;
  line-height: 0.9375rem;
  text-align: left;
}

.features {
  padding-bottom: 1.875rem;
}

.features--header {
  padding-top: 2rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

.features--title {
  margin-bottom: 1.4375rem;
  font-family: "Oswald", san-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.5rem;
  color: #2190c1;
  text-transform: uppercase;
}

.features--subtitle {
  padding: 0 12.5%;
  font-family: "Ubuntu", san-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.75rem;
  color: #515862;
}

.features-list {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}

.features-list:after {
  content: " ";
  display: block;
  clear: both;
}

.feature--title {
  margin-bottom: 0.625rem;
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.0625rem;
  color: #2b99cc;
}

.feature--text {
  font-family: "Ubuntu", san-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.6875rem;
  color: #515862;
  line-height: 0.9375rem;
}

.feature--details a {
  color: #2b99cc;
  font-family: "Ubuntu", san-serif;
  font-weight: 700;
  font-style: normal;
}

.testimonials {
  margin-top: 1.875rem;
}

.testimonials--title {
  font-family: "Oswald", san-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.6875rem;
  color: #2190c1;
  text-transform: uppercase;
  text-align: center;
}

.testimonials--slider-wrap {
  width: 82.127659574%;
  margin: 0 auto;
  margin-top: 2.1875rem;
}

.reviews-slider {
  margin-bottom: 1.875rem;
}

.comment {
  width: 100%;
}

.comment--text {
  margin-bottom: 3.125rem;
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4375rem;
  color: #515862;
  text-align: center;
}

.comment--job {
  text-align: center;
}

.comment--job-name,
.comment--job-title {
  font-size: 0.75rem;
  color: #f98561;
}

.comment--job-name {
  font-family: "Ubuntu", san-serif;
  font-weight: 700;
  font-style: normal;
}

.comment--job-title {
  font-family: "Ubuntu", san-serif;
  font-weight: 400;
  font-style: normal;
}

.testimonials--persons-wrap {
  text-align: center;
}

.person {
  display: inline-block;
  width: 4.1875rem;
  height: 4.1875rem;
  margin-bottom: 1rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: #c1c1c1;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20100%20100%22%20style%3D%22fill%3A%236b6b6b%3B%22%20height%3D%22%22%20width%3D%22%22%3E%3Cpath%20d%3D%22M45.68%2085.812l4.256%206.228c-12.873-.06-24.703-4.53-34.06-11.977v-5.868s.25-4.81%204.955-7.025c4.707-2.214%207.1-2.656%207.266-2.745.165-.09%206.357-1.535%208.56-3.72l-5.698%2014.198%206.605-.974L45.68%2085.81zM79.17%2067.17c-4.707-2.214-7.1-2.656-7.266-2.745-.165-.09-6.357-1.535-8.56-3.72l5.698%2014.198-6.605-.974L54.32%2085.81l-4.256%206.228c12.873-.06%2024.703-4.53%2034.06-11.977v-5.868s-.25-4.81-4.955-7.025zM59.632%2055.495s10.613.325%2015.65-4.82c0%200-7.33-2.075-6.013-15.416%201.317-13.34-1.642-25.055-12.364-24.063%200%200-4.648-5.593-13.898-2.076-3.176%201.21-11.698%204.262-11.264%2022.746s-6.57%2018.593-6.57%2018.593%203.61%205.25%2015.867%205.143v5.516l8.898%2030.92h.12l9.575-30.92v-5.625z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
}

.person::after {
  display: block;
  content: '';
  width: 4.1875rem;
  height: 0.375rem;
  margin-top: calc(100% + 0.813rem);
  background: #c1c1c1;
}

.person:nth-child(2) {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20100%20100%22%20style%3D%22fill%3A%236b6b6b%3B%22%20height%3D%22%22%20width%3D%22%22%3E%3Cpath%20d%3D%22M69.42%2039.805c-1.688%205.972-3.225%206.3-4.15%205.672-1.144%206.433-4.604%2014.722-15.762%2015.157-11.334-.87-14.925-9.356-15.935-15.89-.906-.073-2.104-1.35-3.39-5.896-1.76-6.222.11-7.14%201.693-6.992-1.164-3.268-1.188-6.484-.408-9.458.82-3.502%202.712-6.308%204.835-8.477%201.34-1.425%202.86-2.674%204.472-3.695%201.31-.912%202.76-1.692%204.345-2.227h.002c1.237-.42%202.555-.69%203.95-.754%204.31-.373%207.575.706%209.92%202.095%203.5%201.93%204.83%204.488%204.83%204.488s8.808.62%204.95%2019.086c1.187.41%202.023%202.036.65%206.89zM50%2092.83c14.85%200%2028.295-6.01%2038.036-15.733-.218-4.202-1.64-9.537-7.206-10.952-9.545-2.427-17.3-7.887-17.3-7.887l-6.052%2019.137-1.14%203.603-.017-.05-.993%203.054-3.19-9.052C60.207%2063.693%2050%2064.13%2050%2064.13s-10.206-.438-2.138%2010.82l-3.22%209.122-.985-3.083-7.187-22.73s-7.756%205.46-17.3%207.886c-5.568%201.415-6.99%206.75-7.207%2010.95C21.705%2086.82%2035.15%2092.832%2050%2092.832z%22%2F%3E%3C%2Fsvg%3E");
}

.person__current {
  background-color: #f98561;
  position: relative;
}

.person__current::after {
  background-color: #f98561;
}

.person__current::before {
  content: '';
  position: absolute;
  top: calc(100% + .5rem);
  left: calc(50% - .313rem);
  -webkit-transform: scale(0.9999);
          transform: scale(0.9999);
  border-bottom: 0.313rem solid #f98561;
  border-left: .313rem solid transparent;
  border-right: .313rem solid transparent;
}

footer {
  background-color: #2e3e4f;
}

.footer-row {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 1.875rem;
}

.footer-row:after {
  content: " ";
  display: block;
  clear: both;
}

.footer-col:nth-child(1) {
  width: 22.4622954327%;
  float: left;
  margin-left: 0;
  margin-right: -100%;
}

@media (max-width: 50em) {
  .footer-col:nth-child(1) {
    width: 28.8888888889%;
    float: left;
    margin-right: 6.6666666667%;
  }
}

@media (max-width: 40em) {
  .footer-col:nth-child(1) {
    width: 46.6666666667%;
    float: left;
    margin-right: 6.6666666667%;
  }
}

.footer-col:nth-child(2) {
  width: 26.2006631725%;
  float: left;
  margin-left: 26.0277391521%;
  margin-right: -100%;
}

@media (max-width: 50em) {
  .footer-col:nth-child(2) {
    width: 28.8888888889%;
    float: left;
    margin-right: 6.6666666667%;
    margin-left: 0;
  }
}

@media (max-width: 40em) {
  .footer-col:nth-child(2) {
    width: 46.6666666667%;
    float: left;
    margin-right: 6.6666666667%;
    margin-right: 0;
  }
}

.footer-col:nth-child(3) {
  width: 24.5962134988%;
  float: left;
  margin-left: 55.7938460441%;
  margin-right: -100%;
}

@media (max-width: 50em) {
  .footer-col:nth-child(3) {
    width: 28.8888888889%;
    float: left;
    margin-right: 6.6666666667%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 40em) {
  .footer-col:nth-child(3) {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
  .footer-col:nth-child(3) .footer-col--title {
    text-align: center;
  }
  .footer-col:nth-child(3) .footer-line {
    width: 32.2033898305%;
    float: left;
    margin-right: 1.6949152542%;
  }
  .footer-col:nth-child(3) .footer-line:last-child {
    margin-right: 0;
  }
  .footer-col:nth-child(3) .footer-line::after {
    display: none;
  }
}

.footer-col:nth-child(4) {
  width: 16.0444967376%;
  float: left;
  margin-left: 83.9555032624%;
  margin-right: -100%;
}

@media (max-width: 50em) {
  .footer-col:nth-child(4) {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-left: 0;
  }
  .footer-col:nth-child(4) .footer-col--title {
    text-align: center;
  }
}

@media (max-width: 50em) {
  .footer-col {
    margin-bottom: 2rem;
  }
}

.footer-col--title {
  margin-bottom: 1.25rem;
  font-family: "Oswald", san-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.4375rem;
  color: #f98561;
  text-transform: uppercase;
}

.footer-line::after {
  display: block;
  content: '';
  clear: both;
  width: 100%;
  height: 1px;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  background-color: rgba(255, 255, 255, 0.3);
}

.footer-line:last-child::after {
  display: none;
}

.footer-line--text {
  font-family: "Ubuntu", san-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.6875rem;
  color: #a3afb2;
  line-height: 1.8;
}

.footer-line--link {
  display: inline-block;
  padding: .3rem 0;
  font-family: "Ubuntu", san-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.6875rem;
  color: #2190c1;
}

.footer-line--img {
  display: block;
  float: left;
  margin-right: 0.625rem;
}

.newsletter-form::after {
  display: table;
  content: "";
  clear: both;
}

.newsletter-form label {
  font-family: "Ubuntu", san-serif;
  font-weight: 400;
  font-style: normal;
  color: #2190c1;
  font-size: 0.8125rem;
}

.newsletter-form input[type='email'] {
  display: block;
  padding: 0 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin-top: 0.9375rem;
  outline: none;
  border: none;
  color: #515862;
  line-height: 1.75rem;
  background-color: #fff;
  border-radius: 0.1875rem;
}

.newsletter-form input[type='submit'] {
  display: block;
  box-sizing: border-box;
  float: right;
  padding: 0 1rem;
  margin-top: 0.9375rem;
  outline: none;
  border: none;
  font-family: "Ubuntu", san-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  font-size: 0.8125rem;
  line-height: 1.75rem;
  background-color: #2190c1;
  border-radius: 0.1875rem;
}

.contact-item {
  margin-bottom: 1.875rem;
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 2.1875rem 2.1875rem;
}

.contact-item:nth-of-type(1) {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20100%20100%22%20style%3D%22fill%3A%232190c1%3B%22%20height%3D%22%22%20width%3D%22%22%3E%3Cpath%20d%3D%22M59.513%2073.156l6.003%2018.476%201.16%203.568%203.562-1.163%201.336-.43%201.336-.437c1.963-.64%203.043-2.76%202.408-4.723L69.315%2069.97c-.64-1.96-2.763-3.044-4.725-2.405l-1.338.43-1.336.436-3.56%201.16%201.157%203.566zM38.8%209.412l6.004%2018.476%201.16%203.564%203.562-1.158%201.333-.434%201.337-.435c1.964-.638%203.043-2.764%202.406-4.723l-6-18.476c-.64-1.96-2.763-3.043-4.726-2.405l-1.337.435-1.335.434-3.562%201.157L38.8%209.412zM34.68%206.816c-9.28%204.407-14.83%2022.356-4.98%2051.007%208.875%2028.97%2023.918%2040.23%2034.012%2038.336.15-.03.585-.19.585-.19l-1.156-3.56-6.007-18.48-1.155-3.565s-.44.145-.588.19c-4.787%201.556-9.53-12.893-11.083-17.477-1.438-4.62-6.094-19.1-1.303-20.656l.582-.19-1.156-3.563-6.004-18.478-1.16-3.565s-.445.126-.586.19z%22%2F%3E%3C%2Fsvg%3E");
}

.contact-item:nth-of-type(2) {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20100%20100%22%20style%3D%22fill%3A%232190c1%3B%22%20height%3D%22%22%20width%3D%22%22%3E%3Cpath%20d%3D%22M71.45%202.644H29.034c-2.882%200-5.22%202.336-5.22%205.22v84.562c0%202.88%202.337%205.22%205.22%205.22H71.45c2.882%200%205.22-2.34%205.22-5.22V7.863c-.002-2.883-2.34-5.22-5.22-5.22zM45.16%206.59h10.173c.306%200%20.554.248.554.553s-.248.553-.554.553H45.16c-.305%200-.552-.248-.552-.553s.247-.553.552-.553zm5.128%2087.088c-1.73%200-3.13-1.4-3.13-3.13s1.4-3.133%203.13-3.133%203.13%201.4%203.13%203.132-1.4%203.13-3.13%203.13zM71.77%2083.45H28.714V11.62H71.77v71.83z%22%2F%3E%3C%2Fsvg%3E");
}

.contact-item:nth-of-type(3) {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20100%20100%22%20style%3D%22fill%3A%232190c1%3B%22%20height%3D%22%22%20width%3D%22%22%3E%3Cpath%20d%3D%22M50.086%2055.25l7.78-6.226%2038.716-30.29v-.424H3.59v.425l38.717%2030.29M38.934%2049.645L3.36%2019.552v61.542l35.574-31.447%22%2F%3E%3Cpath%20d%3D%22M58.604%2051.756l-8.518%206.813-8.518-6.814-.42-.338-37.612%2030.27h93.1L59.024%2051.42M61.238%2049.645v.002l35.574%2031.447V19.552%22%2F%3E%3C%2Fsvg%3E");
}

.contact-item:last-child {
  margin-bottom: 0;
}

@media (max-width: 50em) {
  .contact-item {
    min-width: 9.6875rem;
    width: 9.6875rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.contact-item--stuff {
  display: block;
  padding-left: 2.75rem;
  font-family: "Ubuntu", san-serif;
  font-weight: 400;
  font-style: normal;
  color: #a3afb2;
  font-size: 0.8125rem;
  line-height: 1.3;
}

.contact-item--stuff a {
  color: #a3afb2;
}
/*# sourceMappingURL=style.css.map */