extends inc/temp

append var
    - var thisPage = 'About'
    - var pageTitle = pageTitle.concat(' | ' + thisPage)

block index

    block hero
        include inc/hero

    block mission
        include inc/mission

    block features
        include inc/about-features

    block team
        include inc/team