extends inc/temp

append var
    - var thisPage = 'Contact'
    - var pageTitle = pageTitle.concat(' | ' + thisPage)

block index

    block hero
        include inc/hero

    block touch
        include inc/touch

    block contacts
        include inc/contacts

prepend script
    script(src='js/contact-form.js')
    script(src='https://maps.googleapis.com/maps/api/js')
    script(src='js/map.js')
