extends inc/temp

append var
    - var thisPage = 'Home'
    - var pageTitle = pageTitle.concat(' | ' + thisPage)

block index

    block slider
        include inc/slider

    block services
        include inc/services

    block portfolio
        include inc/portfolio
