extends inc/temp

append var
    - var thisPage = 'Home'
    - var pageTitle = pageTitle.concat(' | ' + thisPage)

block index
    i
        svg.icon
            use(xlink:href="#icon-rocket")
    h1 startup
