extends inc/temp

append var
    - var thisPage = 'Home'
    - var pageTitle = pageTitle.concat(' | ' + thisPage)

block index

    block slider
        include inc/slider

    block services
        include inc/services

    block portfolio
        include inc/portfolio

    block features
        include inc/offer

    block spacer
        .container
            .spacer

    block testimonials
        include inc/testimonials
            
prepend script
    script(src='https://cdnjs.cloudflare.com/ajax/libs/flickity/1.1.1/flickity.pkgd.min.js')
    script(src="js/person-slider.js")
    script.
        var elem = document.querySelector('.slider');
        var flkty = new Flickity(elem, {
            cellAlign: 'center',
            contain: true,
            prevNextButtons: false,
            lazyLoad: true,
            initialIndex: 3
        });