extends inc/temp

append var
    - var thisPage = 'Portfolio'
    - var pageTitle = pageTitle.concat(' | ' + thisPage)
    - var jquery = true

block index

    block hero
        include inc/hero

    block main-portfolio
        include inc/main-portfolio

    block clients
        include inc/clients

    block testimonials
        include inc/testimonials

prepend script
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/flickity/1.1.1/flickity.pkgd.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js')
    script(src="js/works.js")
    script(src="js/person-slider.js")